<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<body>
<h1 layout:fragment="header">Member : Add</h1>

<div layout:fragment="content">
    <div class="row">
        <form class="form" th:action="@{/members/(form)}" th:object="${member}" action="#" method="post">
            <div class="col-md-12">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:each="error : ${#fields.errors('*')}" th:text="${error}"> Validation error</p>
                </div>
                <div class="pull-right">
                    <a th:href="@{/members}"> Members </a>
                </div>
            </div>
            <div class="col-md-6">
                <input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'"/>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" th:field="*{name}"
                           required="true"/>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" th:field="*{visible}"/> Visible </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Gerrit Accounts:</label>
                    <textarea rows="5" class="form-control" id="pwd" placeholder="Enter account IDs"
                              th:field="*{accounts}" required="true"> </textarea>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>