<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<body>
<h1 layout:fragment="header">Members</h1>
<div layout:fragment="content">
    <div class="pull-right">
        <a th:href="@{/members/(form)}">Add Members</a> |
        <a th:href="@{/members/update}"> Update Commits from Gerrit</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Gerrit Accounts (commits found)</th>
            <th>Visible</th>
            <th>Projects Found</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${members.empty}">
            <td colspan="4">No members</td>
        </tr>
        <tr th:each="member : ${members}">
            <td>
                <a th:href="@{'/members/' + ${member.id}}" th:text="${member.name}"> The Most Wanted </a>
            </td>
            <td th:utext="${#strings.replace(T(com.huawei.nwbl.opensource.dashboard.utils.WebUtils)
            .formatSet(member.accounts), ',', '&lt;br /&gt;')}"></td>
            <td th:text="${member.visible}"></td>
            <td th:utext="${#strings.replace(T(com.huawei.nwbl.opensource.dashboard.utils.WebUtils)
            .formatSet(member.projects), ',', '&lt;br /&gt;')}">
            </td>
            <td th:text="${member.company}"></td>
            <!--<td th:text="${#calendars.format(member.created)}">July 11, 2012 2:17:16 PM CDT</td>-->
        </tr>
        </tbody>
    </table>
    <h1>Gerrit Commits - Member not found</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Change Id</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Size</th>
            <th>Date</th>
            <th>Account</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${changes.empty}">
            <td colspan="6">No changes</td>
        </tr>
        <tr th:each="change : ${changes}">
            <td>
                <a th:href="${change.link}" th:text="${change.id}"></a>
            </td>
            <td th:text="${change.status}"></td>
            <td th:text="${change.owner}"></td>
            <td th:text="${change.actualSize}"></td>
            <td th:text="${change.updatedOn}"></td>
            <td th:text="${change.account != null} ? ${change.account.name} : ''"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>