<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<body>
<h1 layout:fragment="header">Members : View</h1>
<div layout:fragment="content" class="container">
    <div class="alert alert-success" th:if="${globalMember}" th:text="${globalMember}">Some Success member
    </div>
    <div class="pull-right">
        <a th:href="@{/members}"> Members</a> |
        <a th:href="@{/members/(form)}">Add Members</a>
    </div>
    <dl>
        <dt>ID</dt>
        <dd id="id" th:text="${member.id}">123</dd>
        <dt>Date</dt>
        <dd id="created" th:text="${#calendars.format(member.created)}"> July 11, 2012 2:17:16 PM CDT</dd>
        <dt>Name</dt>
        <dd id="name" th:text="${member.name}">A short summary...</dd>
        <dt>Gerrit Accounts</dt>
        <dd id="accounts" th:utext="${#strings.replace(T(dashboard.utils.WebUtils).formatAccounts(member.accounts),
        T(System).getProperty('line.separator'), '&lt;br /&gt;')}">A detailed member that is longer than the summary.
        </dd>
        <dt>Visible</dt>
        <dd th:text="${member.visible}">True</dd>
    </dl>
    <div class="pull-left">
        <a th:href="@{'delete/' + ${member.id}}"> delete </a> |
        <a th:href="@{'modify/' + ${member.id}}"> modify </a>
    </div>
</div>
</body>

</html>