<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<body>
<h1 layout:fragment="header">Gerrit Accounts</h1>
<div layout:fragment="content">
    <div class="pull-right">
        <a th:href="@{/accounts/update}"> Update Accounts from Gerrit </a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Company</th>
            <th>Member Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${accounts.empty}">
            <td colspan="4">No accounts</td>
        </tr>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.id}"></td>
            <td th:switch="${account.member}">
                <p th:case="null" th:text="${account.name}"></p>
                <a th:case="*" th:href="@{'/members/' + ${account.member.id}}" th:text="${account.name}"></a>
            </td>
            <td th:text="${account.username}"></td>
            <td th:text="${account.email}"></td>
            <td />
            <td th:text="${account.member} != null ? ${account.member.name} : ''"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>