<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" media="all" href="css/daterangepicker.css"/>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css"/>
    <script src="js/highcharts.js"></script>
    <!--<script src="https://code.highcharts.com/highcharts.js"></script>-->
    <script src="js/bootstrap-multiselect.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/dashboard.elements.js"></script>
    <script src="js/dashboard.highcharts.js"></script>
    <script>
        $(document).ready(function() {
            activateDateRangePicker();
            activateCompanyMultiSelectDropDown();
            activateProjectMultiSelectDropDown();
            activateDownload();
            activateDashboardCharts();
        });

    </script>
</head>
<body>
<h1 layout:fragment="header">Dashboard</h1>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-4">
            <label for="date" class="col-md-12">Date</label>
            <div id="date" class="btn btn-default">
                <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
        <div class="col-md-2">
            <label for="companies" class="col-md-12">Company</label>
            <select id="companies" multiple="multiple">
                <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.name}"
                        th:selected="${company.name == 'Huawei'}"></option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="projects" class="col-md-12">Project</label>
            <select id="projects" multiple="multiple">
                <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"
                        selected="selected"></option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="members" class="col-md-12">Member</label>
            <!--TODO Add members selection-->
        </div>
        <div class="col-md-2">
            <label for="download" class="col-md-12">Download</label>
            <div id="download" class="btn btn-default">
                <i class="glyphicon glyphicon-download-alt"></i> &nbsp; Excel
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6" id="chart1_div"></div>
        <div class="col-md-6" id="chart2_div"></div>
        <div class="col-md-6" id="chart3_div"></div>
        <div class="col-md-6" id="chart4_div"></div>
    </div>
</div>
</body>

</html>