<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="css/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-multiselect.css"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/daterangepicker.js"></script>
    <script type="text/javascript" src="js/dashboard.charts.js"></script>
    <script type="text/javascript" src="js/dashboard.elements.js"></script>
    <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart', 'controls']});

        $(document).ready(function() {
            google.charts.setOnLoadCallback(activateDashboardCharts);
            activateDateRangePicker();
            activateProjectMultiSelectDropDown();
            activateDownload();
        });



    </script>
</head>
<body>
<h1 layout:fragment="header">Dashboard</h1>
<div layout:fragment="content">
    <div class="pull-right">
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <div id="reportrange" class="btn">
                <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
        <div class="col-md-4">
            <i class="glyphicon glyphicon-list-alt"></i> &nbsp; Projects &nbsp;
            <select id="projectsOption" multiple="multiple">
                <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"
                        selected="selected"></option>
            </select>
        </div>
        <div class="col-md-4">
            <div id="downloadButton" class="pull-right btn">
                <i class="glyphicon glyphicon-download-alt"></i> &nbsp; Download
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-6" id="chart1_div"></div>
        <div class="col-md-6" id="chart2_div"></div>
        <div class="col-md-6" id="chart3_div"></div>
        <div class="col-md-6" id="dashboard4_div">
            <div id="chart4_div"></div>
            <div id="filter4_div"></div>
        </div>
    </div>
</div>
</body>

</html>