<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="css/daterangepicker.css"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/daterangepicker.js"></script>
    <script type="text/javascript" src="js/dashboard.charts.js"></script>
    <script type="text/javascript" src="js/dashboard.daterange.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart', 'controls']});
        google.charts.setOnLoadCallback(drawDashboard);

    </script>
</head>
<body>
<h1 layout:fragment="header">Dashboard</h1>
<div layout:fragment="content" class="container">
    <div class="pull-right">
        <a th:href="@{/download}"><img src="images/excel_icon.png"/></a>
    </div>
    <br/>
    <div id="reportrange" class="col-md-4">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span></span> <b class="caret"></b>
    </div>
    <br/>
    <!--Table and divs that hold the pie charts-->
    <table class="columns">
        <tr>
            <td>
                <div id="chart1_div"></div>
            </td>
            <td>
                <div id="chart2_div"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="chart3_div"></div>
            </td>
            <td>
                <div id="dashboard4_div">
                    <div id="chart4_div"></div>
                    <div id="filter4_div"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>

</html>