<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <title>Network BL Open-Source Dashboard</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" th:href="@{/}"> Network BL Open-Source Dashboard</a>
            <ul class="nav">
                <li><a th:href="@{/projects}"> Projects </a>
                </li>
                <li><a th:href="@{/members}"> Members </a>
                </li>
                <li><a th:href="@{/accounts}"> Gerrit Accounts </a>
                </li>
                <li>
                    <div><a href="http://121.244.84.163:8081/"> Local CI </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <h1 layout:fragment="header">Default Layout Header</h1>
    <div layout:fragment="content">Default layout content</div>
</div>
</body>

</html>