<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<body>
<h1 layout:fragment="header">Projects</h1>
<div layout:fragment="content">
    <div th:if="${error != null}" class="alert alert-error">
        <p th:text="${error}"></p>
    </div>
    <div class="pull-right">
        <a th:href="@{/projects/(form)}">Add Projects</a> |
        <a th:href="@{/projects/update}"> Update </a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Project Folders (commits found)</th>
            <th>Visible</th>
            <th>Code Size, in KLOC</th>
            <th>Members Found</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${projects.empty}">
            <td colspan="4">No projects</td>
        </tr>
        <tr th:each="project : ${projects}">
            <td>
                <a th:href="@{'/projects/' + ${project.id}}" th:text="${project.name}"></a>
            </td>
            <td th:utext="${#strings.replace(T(com.huawei.nwbl.opensource.dashboard.utils.WebUtils)
            .formatSet(project.folders), ',', '&lt;br /&gt;')}"></td>
            <td th:text="${project.visible}"></td>
            <td th:text="${project.calculateCodeSize()/1000.0}" style="text-align: center"></td>
            <td th:utext="${#strings.replace(T(com.huawei.nwbl.opensource.dashboard.utils.WebUtils)
            .formatSet(project.members), ',', '&lt;br /&gt;')}"></td>
        </tr>
        </tbody>
    </table>
    <h2>Gerrit Commits - Project not found</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Change Id</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Size</th>
            <th>Date</th>
            <th>First File Path</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${changes.empty}">
            <td colspan="6">No changes</td>
        </tr>
        <tr th:each="change : ${changes}">
            <td>
                <a th:href="${change.link}" th:text="${change.id}"></a>
            </td>
            <td th:text="${change.status}"></td>
            <td th:text="${change.account != null} ? ${change.account.name} : ''"></td>
            <td th:text="${change.actualSize}"></td>
            <td th:text="${change.updatedOn}"></td>
            <td th:text="${change.firstFilePath}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>