<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<body>
<h1 layout:fragment="header">Companies</h1>
<div layout:fragment="content">
    <div class="pull-right">
    </div>
    <div class="pull-right">
        <a th:href="@{/companies/(form)}">Add Company</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Company</th>
            <th>EmailDomain</th>
            <th>Gerrit Accounts (commits found)</th>
          </tr>
        </thead>
        <tbody>
        <tr th:if="${companies.empty}">
            <td colspan="4">No Company</td>
        </tr>
        <tr th:each="company : ${companies}">
            <td th:text="${company.name}"></td>
            <!--<td th:text="${company.emailDomains}"></td>-->
            <td th:utext="${#strings.replace(T(com.huawei.nwbl.opensource.dashboard.utils.WebUtils)
            .formatSet(company.emailDomains), ',', '&lt;br /&gt;')}"></td>
            <td th:utext="${#strings.replace(T(com.huawei.nwbl.opensource.dashboard.utils.WebUtils)
            .formatSet(company.gerritAccounts), ',', '&lt;br /&gt;')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>