<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">

<body>
<h1 layout:fragment="header">Companies</h1>
<div layout:fragment="content">
    <div class="pull-right">
    </div>
    <div class="pull-right">
        <a th:href="@{/companies}">Update</a> |
        <!--<a th:href="@{/companies/(form)}">Add Company</a> |-->
        <!--<a th:href="@{/dashboard/jira_json}">Jira Data</a> |-->
        <!--<a th:href="@{/dashboard/gerrit_json}">Gerrit Data</a> |-->
        <!--<a th:href="@{/dashboard/gerrit_review}">Gerrit Review</a> |-->
        <!--<a th:href="@{/dashboard/auto_map}">Auto-map</a>-->
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Company</th>
            <th>Email Domain</th>
            <th>Members who Contributed</th>
          </tr>
        </thead>
        <tbody>
        <tr th:if="${companies.empty}">
            <td colspan="4">No Company</td>
        </tr>
        <tr th:each="company : ${companies}">
            <td>
                <a th:href="@{'/companies/' + ${company.id}}" th:text="${company.name}"></a>
            </td>
            <td th:utext="${#strings.replace(T(com.huawei.nwbl.opensource.dashboard.utils.WebUtils)
            .formatSet(company.emailDomains), ',', '&lt;br /&gt;')}"></td>
            <td th:utext="${#strings.replace(T(com.huawei.nwbl.opensource.dashboard.utils.WebUtils)
            .formatSet(company.onosMembers), ',', '&lt;br /&gt;')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>